body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.weather-app-container {
    background-color: #232931;
    height: 500px;
    width: 750px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    display: flex;
}

@media (max-width:800px) {
    .weather-app-container {
        height: 800px;
        width: 500px;
        display: block;
    }
}

@media (max-width:600px) {
    .weather-app-container {
        width: 250px ;
    }
}